::ng-deep .mat-dialog-container {
    border-radius: 30px;
    height: 400px;
    padding: 0px;
}

::ng-deep .ng-star-inserted {
    overflow-y: hidden;
}

.content {
    background-color: white;
}

.contact {
    height: 100%;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    background-color: var(--dark-navy);
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 32px;
    width: 35%;
    height: 400px;
}

.logo {
    margin-top: var(--m20p);
    height: 60px;
}

.title {
    font-weight: 700;
    font-size: var(--fs-hl);
    margin-top: var(--m10);
    margin-bottom: var(--m10);
}

.stroke {
    margin-top: 3px;
    width: 20%;
    border-bottom: 2px solid var(--secondary);
}

.mid {
    width: 25%;
}

.circle {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid var(--white);
    margin: 0 40px 120px 40px;
}

.initials {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    font-weight: 500;
    font-size: var(--fs-l);
    color: var(--dark-navy);
}

.right {
    width: 40%;
    height: 400px;
    position: relative;
}

.close {
    position: absolute;
    right: 45px;
    top: -10px;

    &:hover {
        cursor: pointer;
    }
}

.name {
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: var(--m5p);
}

.input-container {
    display: flex;
    position: relative;

    input {
        margin-top: var(--m10);
        width: 120%;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid var(--dark-navy);
        padding: 12px;
    }
}

.mat-icon{
    position: absolute;
    top: 21px;
    left: 82%;
}

.btn-container {
    width: 87%;
    display: flex;
    justify-content: flex-end;
    margin-top: var(--m10p);
}

.save-btn {
    display: flex;
    align-items: center;
    padding: var(--m10) var(--m20);
    background-color: var(--dark-navy);
    color: var(--white);
    border: none;
    border-radius: var(--m10);

    img {
        height: 12px;
        margin-left: var(--m5);
    }

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}









@media(max-width: 1080px) {}

@media(max-width: 760px) {}

@media(max-width: 420px) {}

@media(max-width: 300px) {}