.content {
    position: fixed;
    right: 0;
    top: 80px;
    bottom: 0;
    width: 90%;
    background-color: var(--white);

    @media(max-width: 1080px) {
        bottom: 10%;
        width: 100%;
    }
}

.headline {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    p {
        margin-left: 5px;
        margin-top: 6%;
        font-size: 18px;
        font-weight: 100;
    }

    @media(max-width: 1080px) {
        flex-direction: column;
        height: 100px !important;
        align-items: flex-start;
        margin-left: var(--m5p);

        h1 {
            margin-left: 0 !important;
        }

        p {
            margin-top: 5px;
            color: var(--secondary);
        }
    }
}

.stroke {
    margin-left: 5px;
    margin-top: 75px;
    color: var(--secondary);
    font-size: 50px;

    @media(max-width: 1080px) {
        display: none;
    }
}

.summery {
    margin-top: var(--m5p);
    margin-left: var(--m5p);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;

    @media(max-width: 1080px) {
        flex-direction: column;
        margin-top: var(--m10p);
    }
}

.row-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: var(--m25);
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 200px;
    height: 150px;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    margin-right: var(--m25);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &:hover {
        transform: scale(1.05);
    }

    @media(max-width: 720px) {
        width: 90px;
        height: 110px;
    }
}

.container-last {
    width: 310px;
    height: 150px;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    margin-right: var(--m25);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &:hover {
        transform: scale(1.05);
    }

    @media(max-width: 720px) {
        width: 150px;
        height: 110px;
    }
}

.urgency-date {
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    @media(max-width: 720px) {
        width: 320px;
    }
}

.urgency {
    display: flex;
    align-items: center;

    img {
        height: 50px;

        @media(max-width: 1080px) {
            height: 35px;
        }
    }
}

.line {
    width: 0px;
    height: 75%;
    border: 1px solid var(--light-grey);
}

.deadline {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: var(--m10);
}

.info-container {
    display: flex;
    align-items: center;

    img {
        height: 50px;

        @media(max-width: 1080px) {
            height: 35px;
        }
    }
}

.info {
    margin-left: var(--m20);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.number {
    font-size: var(--fs-hl);
    font-weight: bold;
    margin-bottom: 16px;

    @media(max-width: 1080px) {
        font-size: var(--fs-l);
    }
}

.label {
    font-size: var(--fs-l);
    font-weight: 100;

    @media(max-width: 1080px) {
        font-size: var(--fs-s);
    }
}

.side-container {
    color: var(--dark-navy);
    display: flex;
    flex-direction: column;

    p {
        font-size: var(--fs-hl);
    }

    @media(max-width: 1080px) {
        margin-top: var(--m10p);
    }
}

.daytime {
    font-size: var(--fs-xl);
    margin-bottom: var(--m5p);
}

.logged-name {
    font-size: var(--fs-xl);
}