<div class="content">
    <div class="headline">
        <h1>Summary<span> | Everthing is a nutshell!</span></h1>
    </div>
    <div class="summery">
        <div class="row-container">
            <div class="row">
                <div class="container">
                    <span id="" class="number">3</span>
                    <span id="" class="label">Tasks on Board</span>
                </div>
                <div class="container">
                    <span id="" class="number">2</span>
                    <span id="" class="label">Tasks in Progress</span>
                </div>
                <div class="container">
                    <span id="" class="number">1</span>
                    <span id="" class="label">Awaiting Feedback</span>
                </div>
            </div>

            <div class="row">
                <div class="container urgency-date">
                    <div class="urgency">
                        <img src="/assets/img/icons/high-urgency.png">
                        <div class="date">
                            <span id="" class="number">1</span>
                            <span id="" class="label">Urgent</span>
                        </div>
                    </div>
                    <div class="line">
                    </div>
                    <div class="deadline">
                        <span id="" class="date">#DateEnter</span>
                        <span id="" class="label">Upcoming Deadline</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="container">
                    <div class="info-container">
                        <img src="/assets/img/icons/edit-2.png">
                        <div class="info">
                            <span id="" class="number">2</span>
                            <span id="" class="label">To-do</span>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="info-container">
                        <img src="/assets/img/icons/right.png">
                        <div class="info">
                            <span id="" class="number">5</span>
                            <span id="" class="label">Done</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="side-container">
            <span class="daytime">{{ dayTime }}</span>
            <span class="logged-name">#Guest</span>
        </div>
    </div>
</div>