<div class="sidenav">
    <a href=""><img class="logo" src="/assets/img/Capa 2.png"></a>
    <div class="menu">
        <ul class="menu-ul">
            <li><a href="#" (click)="onSelect('summary')"><img src="/assets/img/icons/summary.png">Summary</a></li> 
            <li><a href="#" (click)="onSelect('board')"><img src="/assets/img/icons/board.png">Board</a></li>
            <li><a href="#" (click)="onSelect('addTask')"><img src="/assets/img/icons/Write task icon.png">Add Task</a></li>
            <li><a href="#" (click)="onSelect('contacts')"><img src="/assets/img/icons/contacts.png">Contacts</a></li>
        </ul>
    </div>
    <div class="sub-menu">
        <ul class="sub-menu-ul">
            <li><a href="#" (click)="onSelect('dataProtection')">Data-protection</a></li>
            <li><a href="#" (click)="onSelect('legalNotice')"><img src="/assets/img/icons/info.png">Legal notice</a></li>
        </ul>
    </div>
</div>