<div class="sidenav">
        <a href=""><img class="logo" src="/assets/img/Capa 2.png"></a>
        <div class="menu">
                <ul class="menu-ul">
                        <a href="#" routerLink="/kanbanboard/summary">
                                <li routerLinkActive="active"><img src="/assets/img/icons/summary.png">Summary</li>
                        </a>
                        <a href="#" routerLink="/kanbanboard/board">
                                <li routerLinkActive="active"><img src="/assets/img/icons/board.png">Board</li>
                        </a>
                        <a href="#" routerLink="/kanbanboard/add-task">
                                <li routerLinkActive="active"><img src="/assets/img/icons/Write task icon.png">Add Task</li>
                        </a>
                        <a href="#" routerLink="/kanbanboard/contacts">
                                <li routerLinkActive="active"><img src="/assets/img/icons/contacts.png">Contacts</li>
                        </a>
                </ul>
        </div>
        <div class="sub-menu">
                <ul class="sub-menu-ul">
                        <a href="#" routerLink="/kanbanboard/data-protection">
                                <li  routerLinkActive="active"><img src="/assets/img/icons/info.png">Data-protection</li>
                        </a>
                        <a href="#" routerLink="/kanbanboard/legal-notice">
                                <li  routerLinkActive="active"><img src="/assets/img/icons/info.png">Legal notice</li>
                        </a>
                </ul>
        </div>
</div>