<div class="sidenav">
    <a href=""><img class="logo" src="/assets/img/Capa 2.png"></a>
    <div class="menu">
        <ul class="menu-ul">
            <li><a href="#" routerLink="/kanbanboard/summary" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">
                    <img src="/assets/img/icons/summary.png">Summary</a>
            </li>
            <li><a href="#" routerLink="/kanbanboard/board" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">
                    <img src="/assets/img/icons/board.png">Board</a>
            </li>
            <li><a href="#" routerLink="/kanbanboard/add-task" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">
                    <img src="/assets/img/icons/Write task icon.png">Add Task</a>
            </li>
            <li><a href="#" routerLink="/kanbanboard/contacts" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">
                    <img src="/assets/img/icons/contacts.png">Contacts</a>
            </li>
        </ul>
    </div>
    <div class="sub-menu">
        <ul class="sub-menu-ul">
            <li><a href="#" routerLink="/kanbanboard/data-protection"
                    routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Data-protection</a></li>
            <li><a href="#" routerLink="/kanbanboard/legal-notice" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}"><img src="/assets/img/icons/info.png">Legal notice</a></li>
        </ul>
    </div>
</div>