.start-picture {
    position: absolute;
    height: 100px;
    top: 40%;
    left: 50%;

    animation: slideLogo 3s;

    @media(max-width: 1080px) {
        animation: slidePic 3.5s !important;
        height: 75px;
    }
}

@keyframes slideLogo {
    50% {
        top: 20%;
        left: 20%;
    }

    100% {
        top: 50px;
        left: 50px;
    }
}

@keyframes slidePic {
    50% {
        top: 20%;
        left: 20%;
    }

    100% {
        top: 20px;
        left: 20px;
    }
}