.contact-content{
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    width: 70%;
}

@media(max-width: 1080px) {
    .contact-content{
        left: 0 !important;
        width: 100% !important;
    }
}

@media(max-width: 760px) {}

@media(max-width: 420px) {}

@media(max-width: 300px) {}