<div class="contact-content">
    <div class="contact-list">
        <!--RENDER CONTACT LIST HERE-->
        <span class="first-child">A</span>
        <div class="horizontal-line"></div>
        <div class="contact">
            <div class="bg-pic">
                <span></span>
            </div>
            <div class="contact-info">
                <span>Ayleen Mark</span>
                <span class="mail">am@hotmail.com</span>
            </div>
        </div>
        <span class="first-child">B</span>
        <div class="horizontal-line"></div>
        <div class="contact">
            <div class="bg-pic">
                <span></span>
            </div>
            <div class="contact-info">
                <span>Benni Bauer</span>
                <span class="mail">bb@hotmail.com</span>
            </div>
        </div>
        <span class="first-child">M</span>
        <div class="horizontal-line"></div>
        <div class="contact">
            <div class="bg-pic">
                <span></span>
            </div>
            <div class="contact-info">
                <span>Marleen Baur</span>
                <span class="mail">br@hotmail.com</span>
            </div>
        </div>
    </div>
    <div class="content">
        <h1>Contacts | Better with a team</h1>

        <button class="new-contact-btn">
            New contact
            <img src="/assets/img/icons/new-contact.png">
        </button>
    </div>
    <!--#ADD NEW CONTACT-->
    <div class="overlay ">
        <img src="">
        <div class="add-new-contact">
            <h3>Name</h3>
            <input type="text">
            <div class="horizontal-line"></div>
            <h3>Alias</h3>
            <input type="text">
            <div class="horizontal-line"></div>
            <h3>Email</h3>
            <input type="email">
            <div class="horizontal-line"></div>
        </div>
    </div>
</div>