.contact-content {
    position: fixed;
    right: 0;
    top: 80px;
    bottom: 0;
    width: 70%;
    background-color: var(--white);
    @media (max-width:1080px) {
        width: 75%;
    }
}

.new-contact-btn {
    position: fixed;
    bottom: var(--m10p);
    right: var(--m10p);
    display: flex;
    align-items: center;
    padding: var(--m10) var(--m20);
    background-color: var(--dark-navy);
    color: var(--white);
    border: none;
    border-radius: var(--m10);

    img {
        height: 20px;
        margin-left: var(--m5);
    }

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}