<div class="content">
  <h1>Board</h1>
  <div class="box">
    <!--SEARCHBOX HERE-->
    <input class="searchbox" (keyup)="search()" type="text" placeholder="Find task" [(ngModel)]="searchField">
    <img class="toggle" (click)="search()" src="/assets/img/icons/search.png">
    <button class="btn" (click)="addTask()">
      <p>Add task</p>
      <img src="/assets/img/icons/add-task.png">
    </button>
  </div>

  <div class="overview" cdkDropListGroup>
    <!-- 1 -->
    <div class="column">
      <div class="header-container">
        <h2>To do</h2>
        <img src="/assets/img/icons/plus1.png" class="plus" (click)="addTask()">
      </div>
      <div class="content-container" id="dropList_0" #toDo cdkDropList [cdkDropListData]="data.allTasks"
        (cdkDropListDropped)="drop($event)">
        <div class="drag-task" *ngFor="let taskToDo of data.allTasks" cdkDrag [cdkDragData]="taskToDo"
          [cdkDragDisabled]="taskToDo.visible">
          <div class="task" [ngClass]="taskToDo.visible ? 'task-shadow':'task'" *ngIf="taskToDo.status == 'toDo'"
            (click)="openTask(taskToDo)" [routerLink]="['/kanbanboard/board/' + taskToDo.customIdName]">
            <div class="category" [ngClass]="data.getCategoryColor(taskToDo.category)">
              <!--EDIT CATEGORY TO VARIABLES FROM JSON-->
              <span class="task-category">{{ taskToDo.category }}</span>
            </div>
            <div class="task-content">
              <!--EDIT TITLE TO VARIABLES FROM JSON-->
              <span class="title">{{ taskToDo.title }}</span>
              <!--EDIT DESCRIPTION TO TASK -->
              <p>{{ taskToDo.description }}</p>
            </div>
            <div class="sub-progress" *ngIf="taskToDo.subtasks.length > 0">
              <mat-progress-bar class="sub-progress-bar" mode="determinate" [value]="data.checkChecked(taskToDo) / taskToDo.subtasks.length * 100"></mat-progress-bar>
              <p>{{data.checkChecked(taskToDo) }}/{{taskToDo.subtasks.length}} Done</p>
            </div>
            <div class="labels">
              <!--EDIT ASSIGNED TO VARIABLES FROM JSON-->
              <div class="assignedTo">
                <div class="assigned-to" *ngFor="let contact of taskToDo.assignedTo; let i=index">
                  <div [ngStyle]="{ 'background-color': contact.color }" *ngIf="i < 3">
                    {{ contact.firstName.charAt(0) }}
                    {{ contact.lastName.charAt(0) }}
                  </div>
                  <div class="excess" *ngIf="i === 3 && taskToDo.assignedTo.length > 3">
                    +{{ taskToDo.assignedTo.length - 3 }}
                  </div>
                </div>
              </div>
              <!--EDIT IMG SRC TO VARIABLE FROM JSON-->
              <img src="/assets/img/icons/{{ taskToDo.priority }}.png" class="urgency">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 1 -->
    <!-- 2 -->
    <div class="column">
      <div class="header-container">
        <h2>In progress</h2>
        <img src="/assets/img/icons/plus1.png" class="plus" (click)="addTask()">
      </div>
      <div class="content-container" id="dropList_1" cdkDropList [cdkDropListData]="data.allTasks"
        (cdkDropListDropped)="drop($event)">
        <div class="drag-task" *ngFor="let taskInProgress of data.allTasks" cdkDrag [cdkDragData]="taskInProgress"
          [cdkDragDisabled]="taskInProgress.visible">
          <div class="task" [ngClass]="taskInProgress.visible ? 'task-shadow':'task'"
            *ngIf="taskInProgress.status == 'inProgress'" (click)="openTask(taskInProgress)"
            [routerLink]="['/kanbanboard/board/' + taskInProgress.customIdName]">
            <div class="category" [ngClass]="data.getCategoryColor(taskInProgress.category)">
              <!--EDIT CATEGORY TO VARIABLES FROM JSON-->
              <span class="task-category">{{ taskInProgress.category }}</span>
            </div>
            <div class="task-content">
              <!--EDIT TITLE TO VARIABLES FROM JSON-->
              <span class="title">{{ taskInProgress.title }}</span>
              <!--EDIT DESCRIPTION TO TASK -->
              <p>{{ taskInProgress.description }}</p>
            </div>
            <div class="sub-progress" *ngIf="taskInProgress.subtasks.length > 0">
              <mat-progress-bar class="sub-progress-bar" mode="determinate" [value]="data.checkChecked(taskInProgress) / taskInProgress.subtasks.length * 100"></mat-progress-bar>
              <p>{{data.checkChecked(taskInProgress) }}/{{taskInProgress.subtasks.length}} Done</p>
            </div>
            <div class="labels">
              <!--EDIT ASSIGNED TO VARIABLES FROM JSON-->
              <div class="assignedTo">
                <div class="assigned-to" *ngFor="let contact of taskInProgress.assignedTo; let i=index">
                  <div [ngStyle]="{ 'background-color': contact.color }" *ngIf="i < 3">
                    {{ contact.firstName.charAt(0) }}
                    {{ contact.lastName.charAt(0) }}
                  </div>
                  <div class="excess" *ngIf="i === 3 && taskInProgress.assignedTo.length > 3">
                    +{{ taskInProgress.assignedTo.length - 3 }}
                  </div>
                </div>
              </div>
              <!--EDIT IMG SRC TO VARIABLE FROM JSON-->
              <img src="/assets/img/icons/{{ taskInProgress.priority }}.png" class="urgency">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <!-- 3 -->
    <div class="column">
      <div class="header-container">
        <h2>Awaiting Feedback</h2>
        <img src="/assets/img/icons/plus1.png" class="plus" (click)="addTask()">
      </div>
      <div class="content-container" id="dropList_2" cdkDropList [cdkDropListData]="data.allTasks"
        (cdkDropListDropped)="drop($event)">
        <div class="drag-task" *ngFor="let taskAwaitingFeedback of data.allTasks" cdkDrag
          [cdkDragData]="taskAwaitingFeedback" [cdkDragDisabled]="taskAwaitingFeedback.visible">
          <div class="task" [ngClass]="taskAwaitingFeedback.visible ? 'task-shadow':'task'"
            *ngIf="taskAwaitingFeedback.status == 'awaitingFeedback'" (click)="openTask(taskAwaitingFeedback)"
            [routerLink]="['/kanbanboard/board/' + taskAwaitingFeedback.customIdName]">
            <div class="category" [ngClass]="data.getCategoryColor(taskAwaitingFeedback.category)">
              <!--EDIT CATEGORY TO VARIABLES FROM JSON-->
              <span class="task-category">{{ taskAwaitingFeedback.category }}</span>
            </div>
            <div class="task-content">
              <!--EDIT TITLE TO VARIABLES FROM JSON-->
              <span class="title">{{ taskAwaitingFeedback.title }}</span>
              <!--EDIT DESCRIPTION TO TASK -->
              <p>{{ taskAwaitingFeedback.description }}</p>
            </div>
            <div class="sub-progress" *ngIf="taskAwaitingFeedback.subtasks.length > 0">
              <mat-progress-bar class="sub-progress-bar" mode="determinate" [value]="data.checkChecked(taskAwaitingFeedback) / taskAwaitingFeedback.subtasks.length * 100"></mat-progress-bar>
              <p>{{data.checkChecked(taskAwaitingFeedback) }}/{{taskAwaitingFeedback.subtasks.length}} Done</p>
            </div>
            <div class="labels">
              <!--EDIT ASSIGNED TO VARIABLES FROM JSON-->
              <div class="assignedTo">
                <div class="assigned-to" *ngFor="let contact of taskAwaitingFeedback.assignedTo; let i=index">
                  <div [ngStyle]="{ 'background-color': contact.color }" *ngIf="i < 3">
                    {{ contact.firstName.charAt(0) }}
                    {{ contact.lastName.charAt(0) }}
                  </div>
                  <div class="excess" *ngIf="i === 3 && taskAwaitingFeedback.assignedTo.length > 3">
                    +{{ taskAwaitingFeedback.assignedTo.length - 3 }}
                  </div>
                </div>
              </div>
              <!--EDIT IMG SRC TO VARIABLE FROM JSON-->
              <img src="/assets/img/icons/{{ taskAwaitingFeedback.priority }}.png" class="urgency">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <!-- 4 -->
    <div class="column">
      <div class="header-container">
        <h2>Done</h2>
        <img src="/assets/img/icons/plus1.png" class="plus" (click)="addTask()">
      </div>
      <div class="content-container" id="dropList_3" cdkDropList [cdkDropListData]="data.allTasks"
        (cdkDropListDropped)="drop($event)">
        <div class="drag-task" *ngFor="let taskDone of data.allTasks" cdkDrag [cdkDragData]="taskDone"
          [cdkDragDisabled]="taskDone.visible">
          <div class="task" [ngClass]="taskDone.visible ? 'task-shadow':'task'" *ngIf="taskDone.status == 'done'"
            (click)="openTask(taskDone)" [routerLink]="['/kanbanboard/board/' + taskDone.customIdName]">
            <div class="category" [ngClass]="data.getCategoryColor(taskDone.category)">
              <!--EDIT CATEGORY TO VARIABLES FROM JSON-->
              <span class="task-category">{{ taskDone.category }}</span>
            </div>
            <div class="task-content">
              <!--EDIT TITLE TO VARIABLES FROM JSON-->
              <span class="title">{{ taskDone.title }}</span>
              <!--EDIT DESCRIPTION TO TASK -->
              <p>{{ taskDone.description }}</p>
            </div>
            <div class="sub-progress" *ngIf="taskDone.subtasks.length > 0">
              <mat-progress-bar class="sub-progress-bar" mode="determinate" [value]="data.checkChecked(taskDone) / taskDone.subtasks.length * 100"></mat-progress-bar>
              <p>{{data.checkChecked(taskDone) }}/{{taskDone.subtasks.length}} Done</p>
            </div>
            <div class="labels">
              <!--EDIT ASSIGNED TO VARIABLES FROM JSON-->
              <div class="assignedTo">
                <div class="assigned-to" *ngFor="let contact of taskDone.assignedTo; let i=index">
                  <div [ngStyle]="{ 'background-color': contact.color }" *ngIf="i < 3">
                    {{ contact.firstName.charAt(0) }}
                    {{ contact.lastName.charAt(0) }}
                  </div>
                  <div class="excess" *ngIf="i === 3 && taskDone.assignedTo.length > 3">
                    +{{ taskDone.assignedTo.length - 3 }}
                  </div>
                </div>
              </div>
              <!--EDIT IMG SRC TO VARIABLE FROM JSON-->
              <img src="/assets/img/icons/{{ taskDone.priority }}.png" class="urgency">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 4 -->
  </div>
</div>