.content {
    height: 80px;
    top: 0;
    right: 0;
    left: var(--m10p);
    width: 90%;
    background-color: #FFFFFF;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

    p {
        margin-left: var(--m5p);
    }
}

.logo {
    display: none;
    height: 50px;
}

.img-content {
    display: flex;
    align-items: center;
    margin-right: var(--m5p);
}

.faq {
    height: 20px;

    &:hover {
        cursor: pointer;
    }
}

.profile-logged {
    min-height: 40px;
    min-width: 40px;
    margin-left: var(--m20);
    border-radius: 50%;
    background: url('/assets/img/user.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid var(--dark-navy);
}

@media(max-width: 1080px) {
    .content {
        width: 100% !important;
        left: 0;

        p {
            display: none;
        }
    }
    .logo{
        display: flex;
        margin-left: var(--m5p);
    }
}

@media(max-width: 760px) {}

@media(max-width: 420px) {}

@media(max-width: 300px) {}