.content {
    height: 80px;
    top: 0;
    right: 0;
    left: var(--m10p);
    width: 90%;
    background-color: #FFFFFF;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

    p {
        margin-left: var(--m5p);

        @media(max-width: 1080px) {
            display: none;
        }
    }

    @media(max-width: 1080px) {
        width: 100% !important;
        left: 0;
    }
}

.logo {
    display: none;
    height: 50px;

    @media(max-width: 1080px) {
        display: flex;
        margin-left: var(--m5p);
    }
}

.img-content {
    display: flex;
    align-items: center;
    margin-right: var(--m5p);
}

.name-tag {
    color: var(--dark-navy);
    font-weight: bold;
}

.faq {
    height: 20px;

    &:hover {
        cursor: pointer;
    }
}

.profile-logged {
    min-height: 40px;
    min-width: 40px;
    margin-left: var(--m20);
    border-radius: 50%;
    background: url('/assets/img/jahleel.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid var(--dark-navy);
}