.sidenav {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--dark-navy);
    height: 100vh;
    width: 175px;
    min-width: 175px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-size: var(--fs-m);
    z-index: 99;
}

.logo {
    margin-top: var(--m50);
    margin-bottom: var(--m50);

    &:hover {
        cursor: pointer;
    }
}

.menu {
    margin-top: var(--m50);
    width: 100%;
    height: 100%;
}

.menu-ul {
    a {
        text-decoration: none;
        color: var(--light-grey);
        font-size: 16px;
        font-weight: 400;
    }

    li {
        height: 46px;
        display: flex;
        align-items: center;

        img {
            padding-left: 28px;
            padding-right: 12px;
            height: 22px;
            width: 22px;
        }
    }

    &:hover {
        cursor: pointer;
    }
}

.sub-menu {
    width: 100%;
    margin-bottom: var(--m50);
    position: relative;
    bottom: 50px;
}

.sub-menu-ul {
    justify-content: flex-start;

    button {
        color: var(--light-grey);
        text-decoration: none;
        height: 46px;
        display: flex;
        align-items: center;

        .mat-icon {
            color: var(--light-grey);
            height: 22px;
            width: 22px;
        }
    }

    &:hover {
        cursor: pointer;
    }
}

.mat-menu-item {
    padding-left: 18px;
    margin-right: 12px;
}

.active {
    background-color: var(--menu-active);
}

@media(max-width: 1080px) {
    .sidenav {
        position: fixed;
        flex-direction: row;
        top: unset;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100px;
        width: 100% !important;
        z-index: 999;
    }

    .logo {
        display: none;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
    }

    .menu-ul {
        display: flex;
        align-items: center;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 8px;
            padding-right: 8px;
        }

        li {
            flex-direction: column;
            justify-content: center;
        }
    }

    .sub-menu {
        display: none;
    }

    .active {
        height: 100px !important;
        padding-left: 8px;
        padding-right: 8px;
    }
}

@media(max-width: 760px) {}

@media(max-width: 420px) {
    .active {
        img {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }

    .menu-ul {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            font-size: var(--fs-sm);

            img {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
    }
}

@media(max-width: 300px) {}