<div class="content">
    <h1>Help</h1>
    <div class="description-container">
        <h2>What is Join?</h2>
        <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt maiores dicta sapiente excepturi odio, officia
            perferendis omnis mollitia corporis officiis fugiat repellat nisi explicabo, temporibus cum rem animi
            necessitatibus quibusdam. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias eaque, alias
            dolorem nemo quos, vel ratione atque sequi, rem optio illum sunt! Quas sit est nobis fugiat dolores. Ad,
            quaerat.
        </p>
    </div>
    <h2>How to use it</h2>
    <div class="content-container">
        <div class="number">
            <p>1.</p>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto maxime corrupti accusamus libero hic
                eaque quasi velit corporis vero quod asperiores minima, necessitatibus nobis ducimus placeat! Distinctio
                illum eum dolorum.</p>
        </div>
    </div>
    <div class="content-container">
        <div class="number">
            <p>2.</p>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto maxime corrupti accusamus libero hic
                eaque quasi velit corporis vero quod asperiores minima, necessitatibus nobis ducimus placeat! Distinctio
                illum eum dolorum.</p>
        </div>
    </div>
    <div class="content-container">
        <div class="number">
            <p>3.</p>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto maxime corrupti accusamus libero hic
                eaque quasi velit corporis vero quod asperiores minima, necessitatibus nobis ducimus placeat! Distinctio
                illum eum dolorum.</p>
        </div>
    </div>
</div>