<div class="content">
  <h1>Help</h1>
  <div class="description-container">
    <h2>What is Join?</h2>
    <p class="description">
      Join is a dynamic Kanban board. In japanese 'Kanban' means 'Visual Signal'
      or 'Visual Card'. The main purpose of Kanban is to help and improve
      manufacturing efficiency and create a transparent work process for
      everyone involved.
    </p>
  </div>
  <h2>How to use it</h2>
  <div class="content-container">
    <div class="number">
      <p>1.</p>
    </div>
    <div class="text">
      <p>In the <b>Add-Task</b>-section you can create a new task. It automatically will displayed on the <b>Board</b> in the To-Do Section.</p> 
    </div>
  </div>
  <div class="content-container">
    <div class="number">
      <p>2.</p>
    </div>
    <div class="text">
      <p>
        You can <b>change</b> the status of a task by drag and drop. Grab the
        task to change and drop it in the collum of the new status.
      </p>
    </div>
  </div>
  <div class="content-container">
    <div class="number">
      <p>3.</p>
    </div>
    <div class="text">
      <p>
        For more <b>details</b> of a task or to edit it, click on the task. In
        the opened Overlay you can see the whole information of the task. You
        also can <b>edit</b> the task, by pressing the edit-button on the board
        section.
      </p>
    </div>
  </div>
  <div class="content-container">
    <div class="number">
      <p>4.</p>
    </div>
    <div class="text">
      <p>
        In the <b>Contact</b>-section you can add new contacts, which where displayed in the <b>Contact-List</b>. 
        For more <b>details</b> click on them. When a contact get opened you can edit it.
      </p>
    </div>
  </div>
</div>
