a,
a:visited {
    color: #40D9E1;
    transition: 125ms ease-in-out;
}

a:hover {
    transform: scale(1.05);
    transition: 125ms ease-in-out;
}

.pos-r {
    position: relative;
    margin: 8px;
    width: 80%;
}

input,
::placeholder,
mat-label {
    color: var(--light-grey);
    font-size: 12px !important;
}

::ng-deep .mat-form-field-outline {
    height: 70px !important;
}

::ng-deep .mat-form-field-wrapper {
    margin: 0 0 !important;
    padding-bottom: 0;
}

::ng-deep .icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: var(--dark-navy);

    &:hover {
        transform: scale(1.05);
        transition: 125ms ease-in-out;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: 32px;
    position: absolute;
    background-color: var(--white);
}

.logo {
    position: fixed;
    top: 50px;
    left: 50px;
    height: 100px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    min-width: 400px;
    font-size: 16px;
    gap: 32px;
    background-color: white;
    padding: 56px;
    border-radius: 25px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);

    p {
        font-weight: bold;
        font-size: var(--fs-hl);
        color: var(--dark-navy);
    }
}

.arrow-back {
    position: absolute;
    top: 56px;
    left: 56px;
    height: 30px;
    color: var(--secondary);

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}

.blue-line {
    width: var(--m25p);
    border-bottom: 3px solid var(--secondary);
    border-radius: 12px;
    margin-bottom: 31px;
}

.reg-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 16px;
}

.sign-up-btn {
    min-width: var(--m25p);
    margin-top: 32px;
    height: 51px;
    background-color: var(--dark-navy) !important;
    color: #fff !important;
    border: none;
    border-radius: 8px;
    padding: 8px;
    font-weight: bold;

    &:hover {
        transform: scale(1.05);
        transition: 125ms ease-in-out;
        cursor: pointer;
    }
}

@media(max-width: 1080px) {}

@media(max-width: 760px) {
    .pos-r {
        width: 100%;
    }

    .logo {
        top: 30px;
        left: 30px;
        height: 75px;
    }

    .form-container {
        margin-top: 160px;
        width: 200px !important;
        min-width: 250px;
    }
}

@media(max-width: 420px) {
    .form-container {
        width: 200px !important;
        min-width: 250px;
    }
}

@media(max-width: 300px) {
    .form-container {
        width: 55% !important;
        gap: 8px !important;
        min-width: 50px !important;
    }

    .arrow-back {
        left: 21px;
        top: 21px;
    }
    .pos-r{
        width: 150%;
    }
    .sign-up-btn{
        width: 150%;
    }
}