<div class="content">
    <h1>Board</h1>
    <div class="box">
        <!--SEARCHBOX HERE-->
        <input class="searchbox" type="text" placeholder="Find task" #searchedTask><img class="toggle"
            (click)="searchTask($event)" src="/assets/img/icons/search.png">

        <button class="btn" (click)="addTask()">Add task<img src="/assets/img/icons/add-task.png"></button>
    </div>




    <div class="overview">
        <div class="column">
            <div class="header-container">
                <h2>To do</h2><img src="/assets/img/icons/plus1.png" class="plus" (click)="addTask()">
            </div>
            <!--#RENDER BACKLOG TASKS HERE-->
            <div class="content-container" id="toDo">

                <div class="task" draggable="true" *ngFor="let taskToDo of allTasks$ | async" (click)="openTask()" [routerLink]="[taskToDo.customIdName]">
                    <div class="task-container">
                        <div class="category">
                            <!--EDIT CATEGORY TO VARIABLES FROM JSON-->
                            <span class="task-category">{{ taskToDo.category }}</span>
                        </div>
                        <div class="task-content">
                            <!--EDIT TITLE TO VARIABLES FROM JSON-->
                            <span class="title">{{ taskToDo.title }}</span>
                            <p>{{ taskToDo.description }}</p>
                        </div>
                        {{ taskToDo.status }}
                        <div class="labels">
                            <!--EDIT ASSIGNED TO VARIABLES FROM JSON-->
                            <div class="assignedTo">
                                <div class="assigned-to" *ngFor=" let contact of taskToDo.assignedTo">
                                    <div [ngStyle]="{'background-color': contact.color}">
                                        {{ contact.firstName.charAt(0)}}
                                        {{ contact.lastName.charAt(0)}} 
                                    </div>
                                </div>
                            </div>
                            <!--EDIT IMG SRC TO VARIABLE FROM JSON-->
                            <img src="/assets/img/icons/{{ taskToDo.priority }}.png" class="urgency">
                            
                        </div>
                    </div>
                </div>



                
            </div>
        </div>
        <div class="column">
            <div class="header-container">
                <h2>In progress</h2><img src="/assets/img/icons/plus1.png" class="plus" (click)="addTask()">
            </div>
            <div class="content-container" id="inProgress" #inProgress>

            </div>
        </div>
        <div class="column">
            <div class="header-container">
                <h2>Awaiting Feedback</h2><img src="/assets/img/icons/plus1.png" class="plus" (click)="addTask()">
            </div>
            <div class="content-container" draggable="true" id="awaitingFeedback" #awaitingFeedback>

                <div class="task">
                    <div class="task-container">
                        <div class="category">
                            <span class="task-category">Category</span>
                        </div>
                        <div class="task-content">
                            <span class="title">test title</span>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                        </div>
                        <div class="labels">
                            <div class="assignedTo">
                                <div class="circle_"></div>
                                <div class="circle_"></div>
                            </div>
                            <img src="/assets/img/icons/Urgent.png" class="urgency">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="column">
            <div class="header-container">
                <h2>Done</h2><img src="/assets/img/icons/plus1.png" class="plus" (click)="addTask()">
            </div>
            <div class="content-container" id="done" #done>

                <div class="task">
                    <div class="task-container">
                        <div class="category">
                            <span class="task-category">Category</span>
                        </div>
                        <div class="task-content">
                            <span class="title">test title</span>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                        </div>
                        <div class="labels">
                            <div class="assignedTo">
                                <div class="circle_"></div>
                                <div class="circle_"></div>
                            </div>
                            <img src="/assets/img/icons/Low.png" class="urgency">
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>