<div class="task" draggable="true">
    <img src="./assets/img/icons/x.png" class="close-btn" (click)="closeDialog()">
    <div class="category">
        <p class="task-category">{{ taskOnDialog.category }}</p>
        <!--EDIT CATEGORY TO VARIABLES FROM JSON-->
        <!-- <span class="task-category">{{ taskToDo.category }}</span> -->
    </div>
    <div class="task-content">
        <p class="title">{{ taskOnDialog.title }}</p>
        <p class="description">{{ taskOnDialog.description }}</p>
        <!--EDIT TITLE TO VARIABLES FROM JSON-->
        <!-- <span class="title">{{ taskToDo.title }}</span>
            <p></p> -->
    </div>
    {{ taskOnDialog.status }}

    <div class="due-date">
        <p>Due Date:</p>
        <span>{{ taskOnDialog.dueDate }}</span>
    </div>
    <div class="priority">
        <p>Priority:</p>
        <div class="urgency-btn">
            <img src="./assets/img/icons/{{ taskOnDialog.priority }}.png">
        </div>
    </div>
    <!--EDIT ASSIGNED TO VARIABLES FROM JSON-->
    <span class="assigned-to">Assigned To:</span>
    <div class="assigned-contact" *ngFor="let contact of taskOnDialog.assignedTo">
        <div class="circle" [ngStyle]="{'background-color': contact.color}">
            {{ contact.firstName.charAt(0)}}
            {{ contact.lastName.charAt(0)}}
        </div>
        {{ contact.firstName }}
        {{ contact.lastName }}
    </div>

    <img class="edit-btn" src="./assets/img/icons/edit.png">
</div>