<div class="task" draggable="true">
    <img src="./assets/img/icons/x.png" class="close-btn" (click)="closeDialog()">
    <div class="category">
        <p class="task-category">{{ task.category }}</p>
        <!--EDIT CATEGORY TO VARIABLES FROM JSON-->
        <!-- <span class="task-category">{{ taskToDo.category }}</span> -->
    </div>
    <div class="task-content">
        <p class="title">{{ task.title }}</p>
        <p class="description">Make product presentation to prospective buyers</p>
        <!--EDIT TITLE TO VARIABLES FROM JSON-->
        <!-- <span class="title">{{ taskToDo.title }}</span>
            <p>{{ taskToDo.description }}</p> -->
    </div>
    <!-- {{ taskToDo.status }} -->

    <div class="due-date">
        <p>Due Date:</p>
        <span>10/22/2022</span>
    </div>
    <div class="priority">
        <p>Priority:</p>
        <div class="urgency-btn">
            <span>Urgent</span>
            <img src="./assets/img/icons/Urgent.png">
        </div>
    </div>
    <!--EDIT ASSIGNED TO VARIABLES FROM JSON-->
    <span class="assigned-to">Assigned To:</span>
    <div class="assignedTo">
        <div class="assigned-contact">
            <div class="circle">
                <span>FL</span>
            </div>
            <span class="name">Froschliebhaber96</span>
        </div>
        <div class="assigned-contact">
            <div class="circle1">
                <span>CC</span>
            </div>
            <span class="name">Costa Cordales</span>
        </div>
        <div class="assigned-contact">
            <div class="circle2">
                <span>PZ</span>
            </div>
            <span class="name">Peter Zwegat</span>
        </div>
        <div class="assigned-contact">
            <div class="circle3">
                <span>AS</span>
            </div>
            <span class="name">Anna Schweiger</span>
        </div>
    </div>
        <img class="edit-btn" src="./assets/img/icons/edit.png">
</div>