<app-sidenav></app-sidenav>
<app-logged-wrapper></app-logged-wrapper>
<div class="content-wrapper">

    <!-- <app-summary></app-summary>
    <app-board></app-board>
    <app-add-task></app-add-task>
    <app-contact-wrapper></app-contact-wrapper>
    <app-data-protection></app-data-protection>
    <app-legal-notice></app-legal-notice>
    <app-help-section ></app-help-section> -->
    <router-outlet></router-outlet>
</div>

<!-- (featureSelected)="onNavigate($event)" -->
<!-- *ngIf="loadedFeature === 'help'" -->