.content-wrapper {
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    width: 90%;
    background-color: lightblue;
    overflow-y: scroll;

    @media (max-width:1080px) {
        width: 100%;
    }
}

@media(max-width: 1080px) {}

@media(max-width: 760px) {}

@media(max-width: 420px) {}

@media(max-width: 300px) {}