.content {
    position: fixed;
    right: 0;
    top: 80px;
    bottom: 0;
    left: 475px;
    background-color: var(--white);
}

.contact {
    margin-top: var(--m5p);
    margin-left: var(--m5p);
    width: 100%;
}

.contact-head {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: var(--m5p);
}

.circle {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 3px solid white;
}

.initials {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    color: var(--dark-navy);

    span {
        font-size: var(--fs-xl);
    }
}

.name {
    margin-left: var(--m5p);
    width: fit-content;
    display: flex;
    flex-direction: column;

    span {
        color: #29ABE2;
        margin-top: var(--m5p);

        &:hover {
            cursor: pointer;
        }
    }
}

.contact-information {
    position: relative;
}

.edit-btn {
    position: absolute;
    margin-top: var(--m20);
    left: var(--m25p);
    display: flex;
    align-items: center;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    span {
        margin-left: 3px;
        font-weight: bold;
    }
}

.mail {
    margin-top: var(--m5p);
    font-weight: bold;
    display: flex;
    flex-direction: column;

    input {
        margin-top: var(--m10);
        width: 20%;
        padding: 3px;
        border-radius: 5px;
        border: 1px solid var(--dark-navy);
    }

    p {
        font-weight: 400;
        margin-top: var(--m10);
        color: #29ABE2;

        &:hover {
            cursor: pointer;
        }
    }
}

.phone {
    margin-top: var(--m50);
    font-weight: bold;
    display: flex;
    flex-direction: column;

    input {
        margin-top: var(--m10);
        width: 20%;
        padding: 3px;
        border-radius: 5px;
        border: 1px solid var(--dark-navy);
    }

    p {
        font-weight: 400;
        margin-top: var(--m10);
        color: #29ABE2;

        &:hover {
            cursor: pointer;
        }
    }
}

.edit {
    margin-left: var(--m10p);

    img {
        width: 20px;
        height: 25px;
    }

    &:hover {
        cursor: pointer;
    }
}

.new-contact-btn {
    position: fixed;
    bottom: var(--m10p);
    right: var(--m10p);
    display: flex;
    align-items: center;
    padding: var(--m10) var(--m20);
    background-color: var(--dark-navy);
    color: var(--white);
    border: none;
    border-radius: var(--m10);

    img {
        height: 20px;
        margin-left: var(--m5);
    }

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}


@media(max-width: 1080px) {
    .content {
        left: 300px;
        overflow-y: scroll !important;
    }

    .new-contact-btn {
        bottom: var(--m20p);
    }
}

@media(max-width: 760px) {}

@media(max-width: 420px) {}

@media(max-width: 300px) {}