<div class="wrapper">
    <img src="./assets/img/Capa 1.png" class="logo">
    <div class="sign-up-container">
        <p>Not a Join user?</p>
        <button class="sign-up-btn" routerLink="/sign-up">Sign up</button>
    </div>
    <div class="form-container">
        <p>Log in</p>
        <div class="blue-line"></div>
        <form [formGroup]="loginForm" class="reg-form outline" ngNativeValidate>
            <mat-form-field class="pos-r" appearance="outline">
                <mat-label>Email</mat-label>
                <mat-icon class="mail-icon">mail_outline</mat-icon>
                <input formControlName="email" matInput type="email">
            </mat-form-field>

            <mat-form-field class="pos-r" appearance="outline">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput type="password">
                <mat-icon class="pw-icon">remove_red_eye</mat-icon>
            </mat-form-field>
            <div class="forgot-pw-container">
                <a href="#">Forgot my password</a>
            </div>
            <div class="btn-container">
                <button mat-raised-button class="login-btn" (click)="loginUser()">Login</button>
                <button mat-raised-button class="guest-login-btn" (click)="openDialog()">Guest Log in</button>
            </div>
        </form>
    </div>
</div>