.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: 32px;
}

a,
a:visited {
    color: #40D9E1;
    transition: 125ms ease-in-out;
}

a:hover {
    transform: scale(1.05);
    transition: 125ms ease-in-out;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Poppins';
    font-weight: 700;
}

input,
::placeholder,
mat-label {
    color: black;
    font-size: 12px !important;
}

button {
    width: 50%;
    border-radius: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    min-width: 400px;
    font-size: 16px;
    gap: 32px;
}

.reg-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 16px;

}

.google-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
}

.google-login {
    position: relative;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: break-spaces;
    background-color: #fff !important;
    border: 2px solid var(--dark-navy) !important;
    color: var(--dark-navy) !important;
    width: 100%;
    padding: 4px;

    &:active {
        color: var(--dark-navy);
    }
}

.google-icon {
    position: absolute;
    top: -4px;
    left: -32px;
    margin-right: 16px;
    height: 25px;
    width: auto;
}

.bottom-text {
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 40px;
    transform: translateY(10px);
}

::ng-deep .login {
    background-color: var(--dark-navy) !important;
    color: #fff !important;
    border: none;
    padding: 5px;
    :hover{
        cursor: pointer;
    }
}

.guest-login {
    background-color: var(--white)!important;
    border: none;
    padding: 3px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    gap: 16px
}