<div class="content" [formGroup]="contactForm">
    <h1>Contacts | Better with a team</h1>
    <div class="contact">
        <div class="contact-head">
            <div class="circle">
                <div class="initials">
                    <span></span>
                </div>
            </div>
            <div class="name">
                <input class="first-name" type="text" formControlName="firstName" [placeholder]="'Enter first name'">
                <input class="last-name" type="text" formControlName="lastName" [placeholder]="'Enter last name'">
                <span> <img src="/assets/img/icons/addblue.png">Add Task</span>
            </div>
        </div>

        <div class="contact-information">
            <span>Contact-Information</span>
            <span class="edit" (click)="editTask()">
                <img src="/assets/img/icons/edit1.png">Edit Contact
            </span>
            <div class="mail">
                <span>Email</span>
                <!-- <p>BeaLauren@gmail.com</p> -->
                <input type="text" formControlName="email">
            </div>
            <div class="phone">
                <span>Phone</span>
                <!-- <p>+01234567890</p> -->
                <input type="text" formControlName="phone">
            </div>
        </div>


        <button class="btn" (click)="addUser()">
            Add Contact
            <img src="/assets/img/icons/new-contact.png">
        </button>
    </div>
</div>