.content {
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 175px;
    background-color: var(--white);
    overflow-y: scroll;
}

.headline {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    p {
        margin-left: 30px;
        margin-top: 6%;
        font-size: 27px;
        font-weight: 400;
    }
}

.stroke {
    margin-left: 5px;
    margin-top: 6%;
    color: var(--secondary);
    font-size: 50px;
}

.summary {
    margin-top: var(--m5p);
    margin-left: var(--m5p);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.row-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: var(--m25);
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 200px;
    height: 150px;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    margin-right: var(--m25);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &:hover {
        transform: scale(1.05);
    }
}

.number {
    font-size: var(--fs-hl);
    font-weight: bold;
    margin-bottom: 16px;
}

.label {
    text-align: center;
    font-size: var(--fs-l);
    font-weight: 100;
}

.container-last {
    width: 310px;
    height: 150px;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    margin-right: var(--m25);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &:hover {
        transform: scale(1.05);
    }
}

.urgency-date {
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.urgency {
    display: flex;
    align-items: center;

    img {
        height: 50px;
    }
}

.line {
    width: 0px;
    height: 75%;
    border: 1px solid var(--light-grey);
}

.deadline {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.urgent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: var(--m10);
}

.info-container {
    display: flex;
    align-items: center;

    img {
        height: 50px;
    }
}

.info {
    margin-left: var(--m20);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.side-container {
    position: absolute;
    right: 53px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex: none;
    order: 1;
    flex-grow: 0;

    p {
        font-size: var(--fs-hl);
    }
}

.daytime {
    font-weight: 500;
    font-size: 47px;
}

.logged-name {
    color: var(--secondary);
    font-size: 64px;
}

@media(max-width: 1550px) {
    .side-container {
        display: none;
    }
}

@media(max-width: 1080px) {
    .content {
        left: 0;
        bottom: 10%;
        width: 100%;
    }

    .headline {
        flex-direction: column;
        height: 100px !important;
        align-items: flex-start;
        margin-left: var(--m5p);
        margin-bottom: 150px;

        h1 {
            margin-left: 0 !important;
        }

        p {
            margin-top: 5px;
            color: var(--secondary);

        }
    }

    .stroke {
        display: none;
    }

    .summary {
        flex-direction: column;
        margin-top: var(--m10p);
    }

    .urgency {
        height: 35px;
    }

    .info-container {
        img {
            height: 35px;
        }
    }

    .number {
        font-size: var(--fs-xl);
    }

    .label {
        font-size: var(--fs-l);
    }
}

@media(max-width: 760px) {
    .headline {
        margin-bottom: 100px;
    }

    .summary {
        margin-top: var(--m5p);
    }

    .container {
        width: 90px;
        height: 110px;
    }

    .container-last {
        width: 150px;
        height: 110px;
        margin-bottom: 15%;
    }

    .urgency-date {
        width: 320px;
    }

    .label {
        font-size: var(--fs-m);
        font-weight: 300;
    }
}

@media(max-width: 420px) {
    .summary {
        margin-bottom: var(--m10p);
    }

    h1 {
        font-size: 47px !important;
    }

    .container {
        width: 40%;
        margin: 10px;
    }

    .urgency-date {
        width: 120%;
    }
}

@media(max-width: 350px) {
    .headline {
        margin-bottom: 0;

        p {
            display: none;
        }
    }

    .container {
        width: 30% !important;
        margin: 5px;
    }

    .line {
        transform: rotate(90deg);
        margin-bottom: -15px;
    }

    .urgency-date {
        height: 180px;
        flex-direction: column;
        width: 110% !important;
        justify-content: center !important;
    }

    .urgency {
        margin-top: 35px;
    }

    .deadline {
        margin-bottom: 15px;
    }

    .container-last {
        margin: 8px;
        width: 110px;
    }

    .info {
        margin-left: 3px;
    }

    .label {
        font-size: var(--fs-sm);
    }
}