::ng-deep .mat-dialog-container {
    width: 100vw !important;
    border-radius: 10px !important;
}

::ng-deep .mat-form-field-flex {
    padding: 0 !important;
    background-color: var(--white) !important;
    border: none !important;
}

::ng-deep .mat-form-field-infix {
    padding: 0 !important;
    border-top: 3px;
}

::ng-deep .mat-select-arrow-wrapper {
    height: unset !important;
}

::ng-deep .mat-form-field-wrapper {
    width: 100%;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

.task {
    height: fit-content;
}

.task-content {
    width: 100%;
}

.label {
    font-size: var(--fs-l);
    margin-bottom: 3px;
}

.title {
    width: 75%;
    background: white;
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    gap: 10px;
    padding: 12px 14px;
    margin-bottom: 8px;
}

.description {
    width: 75%;
    background: white;
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    gap: 10px;
    padding: 12px 14px;
    margin-bottom: 8px;
}

.due-date {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 8px;
    width: 75%;

    input {
        background: white;
        box-sizing: border-box;
        border: 1px solid #D1D1D1;
        border-radius: 10px;
        gap: 10px;
        padding: 12px 14px;
    }
}

.priority-btn {
    width: 75%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 8px;

    button {
        padding: 8px;
        border: none;
        border-radius: 10px;
        &:hover{
            cursor: pointer;
        }
    }
}

.btn-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

#low {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        margin-left: 6px;
        background-repeat: none;
        width: 20px;
        height: 15px;
        background-image: url('/assets/img/icons/Low.png');
    }
    &:hover{
        cursor: pointer;
    }
}

.low {
    color: white;
    background-color: rgb(122, 226, 41);

    div {
        background-image: url('/assets/img/icons/low_white.png') !important;
        width: 20px !important;
        height: 15px !important;
    }
}

#medium {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        margin-left: 6px;
        background-repeat: none;
        width: 17px;
        height: 9px;
        background-image: url('/assets/img/icons/Medium.png');
    }
}

.medium {
    color: white;
    background-color: rgb(254, 167, 3);

    div {
        background-image: url('/assets/img/icons/medium_white.png') !important;
        width: 17px !important;
        height: 9px !important;
    }
}

#high {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        margin-left: 6px;
        background-repeat: none;
        width: 20px;
        height: 14px;
        background-image: url('/assets/img/icons/Urgent.png');
    }
}

.high {
    color: white;
    background-color: rgb(255, 61, 0);

    div {
        background-image: url('/assets/img/icons/urgent_white.png') !important;
        width: 17px !important;
        height: 13px !important;
    }
}

.btn-label {
    font-size: var(--fs-sm);
}

.assigned {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.assigned-field {
    background: white;
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    gap: 10px;
    padding: 12px 14px;
}

.assigned-contact {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.circle {
    min-height: 40px;
    min-width: 40px;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 8px;
}

.close-btn {
    position: relative;
    left: 94%;

    &:hover {
        cursor: pointer;
    }
}

.edit-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    left: 87%;
    padding: 8px;
    width: fit-content;
    color: var(--white);
    background-color: var(--dark-navy);
    border: none;
    border-radius: 10px;

    img {
        margin-left: var(--m5);
    }

    &:hover {
        transform: scale(1.05);
        cursor: pointer;

        img {
            margin-bottom: 2px;
        }
    }
}

@media(max-width: 1080px) {}

@media(max-width: 760px) {
    .priority-btn {
        width: 100%;
    }

    .title {
        width: 100%;
    }

    .description {
        width: 100%;
    }

    .due-date {
        width: 100%;
    }

    .priority {
        width: 100%;
    }

    ::ng-deep .mat-form-field-flex {
        width: 132% !important;
    }

    ::ng-deep .mat-dialog-container {
        border-radius: 0px !important;
    }

    ::ng-deep .cdk-overlay-pane {
        margin-top: 158px !important;
        height: 100vh !important;
        border-radius: 0px !important;
        max-width: 100vw !important;
    }
}

@media(max-width: 420px) {
    .due-date {
        width: 100% !important;
    }

    .priority {
        width: 100%;
    }

    .assigned-contact {
        width: 100%;
    }

    .edit-btn {
        position: absolute;
        bottom: 10px;
        right: 10px;
        left: unset;
    }
}

@media(max-width: 300px) {}