<div class="task">
    <img src="./assets/img/icons/close.png" class="close-btn" (click)="close()">

    <p class="label">Title</p>
    <input class="input" type="text" matInput [(ngModel)]="task.title" [placeholder]="'Title'">
    <p class="label">Description</p>
    <input class="input" type="text" matInput [(ngModel)]="task.description" [placeholder]="'Description'">

    <div class="due-date">
        <p class="label">Due Date:</p>
        <input type="text" matInput [(ngModel)]="task.dueDate" [placeholder]="'Due Date'">
    </div>
    <div class="priority">
        <p class="label">Priority:</p>

        <div class="priority-btn">
            <button id="low" [ngClass]="{'low': low}" (click)="setPrio('Low')">Low
                <div [ngClass]="{'low': low}"></div>
            </button>
            <button id="medium" [ngClass]="{'medium': medium}" (click)="setPrio('Medium')">Medium
                <div [ngClass]="{'medium': medium}"></div>
            </button>
            <button id="high" [ngClass]="{'high': high}" (click)="setPrio('Urgent')">Urgent
                <div [ngClass]="{'high': high}"></div>
            </button>
        </div>

    </div>
    <span class="label">Assigned To:</span>
    <mat-form-field class="assigned" appearance="fill">
        <mat-select id="collegueMenu" class="input" #assignedContacts [(value)]="task.assignedTo"
            [placeholder]="'Select contact to assign'">
            <mat-option *ngFor="let contact of data.allContacts; let i = index" [value]="contact">
                <input id="contact{{i}}" class="example-margin" type="checkbox" [checked]="checkedStatus[contact.id]"
                    (click)="onContactSelected(i, $event)">
                {{contact.firstName}}
                {{contact.lastName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="assigned-contacts">
        <div class="assigned-contact" *ngFor="let contact of selectedContacts">
            <div class="circle" [ngStyle]="{'background-color': contact.color}">
                {{ contact.firstName?.charAt(0)}}
                {{ contact.lastName?.charAt(0)}}
            </div>
            <div class="name">
                {{ contact.firstName }}
                {{ contact.lastName }}
            </div>
        </div>
    </div>
    <div class="btn-container">
        <button class="save-btn" (click)="save()">
            Ok
            <img src="./assets/img/icons/create.png">
        </button>
    </div>
</div>