<div class="content">
    <h1>Add task</h1>
    <div class="create-new-task">
        <div class="create">
            <form class="create" [formGroup]="taskForm">
                <div class="row row-left">
                    <!-- TITLE -->
                    <h5>Title</h5>
                    <div class="field">
                        <input class="input-field" type="text" formControlName="title"
                            placeholder="Enter a title">
                        <ng-container *ngIf="taskForm.controls['title'].dirty || taskForm.controls['title'].touched">
                            <small *ngIf="taskForm.controls['title'].errors?.['required']">*Please insert the titel of
                                your task.</small>
                            <small *ngIf="taskForm.controls['title'].errors?.['minlength']">*Please insert a min. of
                                3 characters.</small>
                            <small *ngIf="taskForm.controls['title'].errors?.['pattern']">*Only letters are
                                allowed.</small>
                        </ng-container>
                    </div>
                    <!-- DESCRIPTION -->
                    <h5>Description</h5>
                    <div class="field">
                        <textarea class="textaria" rows="10" placeholder="Enter a Description"
                            formControlName="description">
                         </textarea>
                        <ng-container
                            *ngIf="taskForm.controls['description'].dirty || taskForm.controls['description'].touched">
                            <small *ngIf="taskForm.controls['description'].errors?.['required']">*Please insert a
                                description of
                                your task.</small>
                            <small *ngIf="taskForm.controls['description'].errors?.['minlength']">*Please insert a min.
                                of
                                3 characters.</small>
                            <small *ngIf="taskForm.controls['description'].errors?.['maxlength']">*Your input have
                                reached limit
                                of 100 characters.</small>
                        </ng-container>
                    </div>
                    <!-- CATEGORY -->
                    <h5>Category</h5>
                    <div class="field">
                        <mat-select class="category" [(value)]="choosenCategory" formControlName="category"
                            placeholder="Select category">
                            <mat-option value="Management">Management</mat-option>
                            <mat-option value="Costumer Service">Costumer Service</mat-option>
                            <mat-option value="Marketing">Marketing</mat-option>
                            <mat-option value="Team">Team</mat-option>
                            <mat-option value="Design">Design</mat-option>
                            <mat-option value="IT">It</mat-option>
                            <mat-option value="Media">Media</mat-option>
                            <mat-option value="Backoffice">Backoffice</mat-option>
                            <mat-option value="Sales">Sales</mat-option>
                        </mat-select>
                        <small class="alert" *ngIf="data.category">*Please choose a category!</small>
                    </div>
                    <!-- ASSIGNED -->
                    <h5>Assigned to</h5>
                    <div class="field">
                        <mat-select class="assigned-to" [(value)]="assignedCollegues" formControlName="assignedTo"
                            placeholder="Select contacts" multiple #assignedContacts>
                            <mat-option *ngFor="let contact of data.allContacts$ | async" [value]="contact">
                                {{contact.firstName}} {{contact.lastName}}</mat-option>
                        </mat-select>
                        <small class="alert" *ngIf="data.assigned">*Please assign a collegue!</small>
                    </div>
                </div>
                <div class="vector"></div>
                <div class="row row-right">
                    <!-- DUE_DATE -->
                    <h5>Due date</h5>
                    <div class="field">
                        <input matInput class="date-input input-field" [matDatepicker]="datePicker" [min]="data.today"
                            placeholder="mm/dd/yyyy" formControlName="dueDate">
                        <mat-datepicker-toggle class="calendar" matIconSuffix
                            [for]="datePicker"></mat-datepicker-toggle>
                        <mat-datepicker #datePicker disabled="false"></mat-datepicker>
                        <ng-container *ngIf="taskForm.controls['dueDate'].dirty || taskForm.controls['dueDate'].touched">
                            <small *ngIf="taskForm.controls['dueDate'].errors?.['required']">*Please insert a due-date.</small>
                        </ng-container>
                    </div>
                    <!-- PRIORITY -->
                    <h5>Prio</h5>
                    <div class="field">
                        <div class="priority">
                            <button id="addHigh" [ngClass]="{'high': high}" (click)="setPrio('Urgent')">Urgent
                                <div [ngClass]="{'high': high}"></div>
                            </button>
                            <button id="addMedium" [ngClass]="{'medium': medium}"
                                (click)="setPrio('Medium')">Medium
                                <div [ngClass]="{'medium': medium}"></div>
                            </button>
                            <button id="addLow" [ngClass]="{'low': low}" (click)="setPrio('Low')">Low
                                <div [ngClass]="{'low': low}"></div>
                            </button>
                        </div>
                        <small class="alert" *ngIf="data.prio">*Please choose a priority!</small>
                    </div>
                    <!-- SUBTASKS -->
                    <h5>Subtasks</h5>
                    <div class="subtask">
                        <input class="input-field" type="text" placeholder="Add new subtask" id="sub-input" #subInput>
                        <img class="plus" src="/assets/img/icons/plus.png" (click)="addSubTask()">
                    </div>
                    <!-- SUBALERT -->
                    <div class="sub-alert" *ngIf="data.subError">
                        <small>*Input darf nicht leer sein!</small>
                    </div>
                    <div class="sub-alert" *ngIf="subMax">
                        <small>*Maximum erreicht!</small>
                    </div>
                    <div class="sub-alert" *ngIf="subLength">
                        <small>*Input muss min. 4 Charakter haben!</small>
                    </div>
                    <div class="subtasks" #subtasks>
                        <div class="_2" *ngFor="let subtask of addedSubTasks; index as i">
                            <input type="checkbox" checked>
                            <p>{{ subtask.text }}</p>
                        </div>
                    </div>
                    <!-- BTN -->
                    <div class="btn-container">
                        <button class="clear-btn" (click)="resetForm()">Clear
                            <img src="/assets/img/icons/close.png">
                        </button>
                        <button class="create-task-btn" (submit)="checkForm()">Create Task
                            <img src="/assets/img/icons/create.png">
                        </button>
                    </div>
                    <button class="mb-alert" *ngIf="taskCreated">Task added to Board
                        <img src="./assets/img/icons/task_added_mb.png">
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>