.content {
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 175px;
    background-color: var(--white);
    overflow-y: scroll;
}

.create-new-task {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.create {
    display: flex;
}

.vector {
    position: absolute;
    width: 0px;
    height: 95%;
    left: 49%;
    top: 5%;
    border: 1px solid rgb(209, 209, 209);
}

.row {
    position: relative;
    margin: var(--m20);
    width: 400px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

// TITLE
.input-field {
    box-sizing: border-box;
    margin-bottom: var(--m20);
    width: 90%;
    padding: 13px 21px;
    background-color: white;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &::placeholder {
        color: var(--placeholder);
    }
}

// DESCRIPTION
.textaria {
    box-sizing: border-box;
    background: white;
    margin-bottom: var(--m20);
    width: 90%;
    height: 120px;
    padding: 13px 21px;
    border: 1px solid var(--light-grey);
    border-radius: 10px;

    &::placeholder {
        color: var(--placeholder);
    }
}

// CATEGORY
.category {
    background-color: white;
    box-sizing: border-box;
    margin-bottom: var(--m20);
    width: 90%;
    padding: 13px 21px;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
}

// ASSIGNED TO 
.assigned {
    background-color: white;
    box-sizing: border-box;
    margin-bottom: var(--m20);
    width: 90%;
    padding: 13px 21px;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
}

::ng-deep .mat-select-placeholder {
    color: var(--placeholder) !important;
}

::ng-deep .mat-select-arrow-wrapper {
    position: absolute;
    right: 0;
}

::ng-deep .mat-pseudo-checkbox-checked {
    background: var(--light-blue) !important;
}

// DUE DATE
.date-container {
    display: flex;
    position: relative;
}

.date {
    position: relative;
}

.date-input {
    background-color: white;
    border: none;
    color: black;

    &::placeholder {
        color: var(--placeholder);
    }
}

.calendar {
    position: absolute;
    left: 85%;
    top: 2px;

    // color: red;
    &:active {
        color: var(--light-blue);
    }
}

::ng-deep .mat-calendar-body-cell-content {
    background-color: rgba(0, 0, 0, 0.1) !important;

    &:hover {
        background-color: rgba(41, 171, 226, 0.25) !important;
    }
}

::ng-deep .mat-calendar-body-selected {
    background-color: var(--light-blue) !important;
}

// PRIO
.priority {
    margin-bottom: var(--m20);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;

    button {
        padding: 8px;
        margin: 3px;
        background-color: white;
        border: none;
        border-radius: var(--m10);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    }
}

#addLow {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        margin-left: 6px;
        background-repeat: none;
        width: 20px;
        height: 15px;
        background-image: url('/assets/img/icons/Low.png');
    }

    &:hover {
        cursor: pointer;
    }
}

#addMedium {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        margin-left: 6px;
        background-repeat: none;
        width: 17px;
        height: 9px;
        background-image: url('/assets/img/icons/Medium.png');
    }

    &:hover {
        cursor: pointer;
    }
}

#addHigh {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        margin-left: 6px;
        background-repeat: none;
        width: 20px;
        height: 14px;
        background-image: url('/assets/img/icons/Urgent.png');
    }

    &:hover {
        cursor: pointer;
    }
}

// SUBTASKS
.subtask {
    position: relative;
    display: flex;
    width: 100%;
}

.plus {
    position: absolute;
    top: 15px;
    left: 79%;

    &:hover {
        cursor: pointer;
    }
}

// ADDED SUBTASKS
.subtasks {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 120px;
    overflow-y: scroll;
    margin-bottom: var(--m10p);

    div {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        input {
            width: 20px;
            margin-top: 10px;
        }
    }
}

.btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    bottom: 0;
}

.clear-btn {
    border: none;
    border-radius: var(--m10);
    padding: var(--m10) var(--m20);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);

    img {
        margin-left: var(--m10);
    }

    &:hover {
        img {
            transform: scale(1.05);
        }

        transform: scale(1.05);
        cursor: pointer;
    }
}

.create-task-btn {
    border: none;
    padding: var(--m10) var(--m20);
    margin-left: var(--m20);
    background-color: var(--dark-navy);
    border-radius: var(--m10);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    color: white;

    img {
        margin-left: var(--m10);
    }

    &:hover {
        img {
            transform: scale(1.05);
        }

        transform: scale(1.05);
        cursor: pointer;
    }
}

.mb-alert {
    display: none;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 14px 16px;
    color: var(--white);
    background-color: var(--dark-navy);
    border-radius: 10px;
    border: none;
    z-index: 99;
    margin-bottom: 50px;
    margin-left: var(--m5p);

    img {
        margin-left: var(--m5);
    }
}

@media(max-width: 1080px) {
    .content {
        left: 0;
        width: 100%;
    }

    .create-new-task {
        margin-top: var(--m5p);
        margin-bottom: var(--m10p);
    }

    .priority {
        justify-content: space-between;
    }

    .mb-alert {
        display: none;
    }
}

@media(max-width: 860px) {
    .create {
        flex-direction: column;
        align-items: center;
    }

    .vector {
        display: none;
    }

    .subtasks {
        width: 100%;
        margin-bottom: var(--m50p);
    }

    .btn-container {
        margin-bottom: var(--m25p);
    }

    .mb-alert {
        display: flex;
        animation: move-up 1.2s forwards;
    }
}

@media(max-width: 420px) {
    .row {
        width: 100%;
    }

    .btn-container {
        position: absolute;
        flex-direction: column;
        // bottom: -27px;
    }

    .create-task-btn {
        margin-top: var(--m10);
        margin-left: 0;
    }

    .mb-alert {
        margin-left: 58px;
    }

    .priority {
        flex-direction: column;
        align-items: flex-start;
        margin-left: var(--m5);
    }
}

@media(max-width: 300px) {
    .subtasks {
        height: 60px;
    }

    .btn-container {
        bottom: 0;
        flex-direction: column;
        position: unset;
    }

    .create-task-btn {
        margin-top: var(--m5p);
        margin-left: 0;
    }

    .mb-alert {
        margin-bottom: 75px;
        margin-left: 14px;
    }
}

//ANIMATION

@keyframes move-up {
    from {
        transform: translateY(200px);
    }

    to {
        transform: translateY(0);
    }
}