::ng-deep .drop {
    width: 100% !important;
}

::ng-deep .dropdown-btn {
    width: 90% !important;
    box-sizing: border-box;
    background: white;
    border-radius: 10px;
    border: none !important;
}

::ng-deep .selected-item {
    background-color: var(--dark-navy) !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 10px !important;
}

::ng-deep .dropdown-list {
    border-radius: 10px !important;
}

::ng-deep .multiselect-item-checkbox {
    ::before {
        border: 2px solid var(--dark-navy) !important;
    }
}

::ng-deep .mat-form-field-infix {
    border-top: none;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-select-placeholder {
    color: var(--light-grey) !important;
}

::ng-deep .mat-option-text {
    color: var(--dark-navy);
}

::ng-deep .mat-primary .mat-pseudo-checkbox-checked {
    background-color: var(--dark-navy);
}

::ng-deep .mat-select-panel {
    max-width: 90% !important;
}

::ng-deep .mat-form-field-wrapper {
    border-radius: 10px !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white !important;
    border: 1px solid var(--light-grey);
    border-radius: 10px !important;
}


.content {
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 175px;
    background-color: var(--white);
    overflow-y: scroll;

}

#alert {
    margin-top: var(--m20);
    margin-bottom: var(--m20);
    margin-left: var(--m5p);
    color: red;
    height: fit-content;
    padding: 8px;
    width: fit-content;
    border-radius: 10px;
    border: 1px solid red;
}

.create-new-task {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.create {
    display: flex;
}

.vector {
    position: absolute;
    width: 0px;
    height: 95%;
    left: 49%;
    top: 5%;
    border: 1px solid var(--light-grey);
}

.row {
    margin: var(--m20);
    width: 400px;

    input {
        box-sizing: border-box;
        margin-bottom: var(--m20);
        width: 90%;
        padding: 13px 21px;
        background: white;
        border: 1px solid var(--light-grey);
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;

        &::placeholder {
            color: var(--light-grey);
        }
    }

    select {
        box-sizing: border-box;
        margin-bottom: var(--m20);
        width: 90%;
        padding: 13px 21px;
        background: white;
        border: 1px solid var(--light-grey);
        border-radius: 10px;
    }
}

#dueDate {
    &:hover {
        cursor: pointer;
    }
}

.textaria {
    box-sizing: border-box;
    background: white;
    margin-bottom: var(--m20);
    width: 90%;
    height: 120px;
    padding: 13px 21px;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
}

.multiselect-dropdown {
    width: 90% !important;
}

.assigned {
    width: 90%;
}

.priority {
    margin-bottom: var(--m20);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;

    button {
        padding: 8px;
        margin: 3px;
        background-color: var(--white);
        border: none;
        border-radius: var(--m10);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);

        img {
            margin-left: var(--m5);
        }

        &:hover {
            transform: scale(1.05);
            cursor: pointer;
        }
    }
}

.subtask {
    position: relative;
    display: flex;

    input {
        margin-bottom: none !important;
        width: 90%;
    }
}

.plus {
    position: absolute;
    top: 15px;
    left: 79%;

    &:hover {
        cursor: pointer;
    }
}

.subtasks {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 120px;
    overflow-y: scroll;
    margin-bottom: var(--m10p);

    div {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        input {
            width: 20px;
            margin-top: 10px;
        }
    }
}

.checkbox-container {
    display: flex;

    input {
        width: 20px;
        margin-top: 5px;
    }
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
}

.clear-btn {
    border: none;
    border-radius: var(--m10);
    padding: var(--m10) var(--m20);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);

    img {
        margin-left: var(--m10);
    }

    &:hover {
        img {
            transform: scale(1.05);
        }

        transform: scale(1.05);
        cursor: pointer;
    }
}

.create-task-btn {
    border: none;
    padding: var(--m10) var(--m20);
    margin-left: var(--m20);
    background-color: var(--dark-navy);
    border-radius: var(--m10);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    color: white;

    img {
        margin-left: var(--m10);
    }

    &:hover {
        img {
            transform: scale(1.05);
        }

        transform: scale(1.05);
        cursor: pointer;
    }
}

.mb-alert {
    display: none;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 14px 16px;
    color: var(--white);
    background-color: var(--dark-navy);
    border-radius: 10px;
    border: none;
    z-index: 99;
    margin-bottom: 50px;
    margin-left: var(--m5p);

    img {
        margin-left: var(--m5);
    }
}

@media(max-width: 1080px) {
    .content {
        left: 0;
        width: 100%;
    }

    .create-new-task {
        margin-top: var(--m5p);
        margin-bottom: var(--m10p);
    }

    .row {
        width: 100%;
    }

    .priority {
        width: 100%;
        justify-content: space-between;
    }

    .mb-alert {
        display: none;
    }
}

@media(max-width: 760px) {
    .create {
        flex-direction: column;
        align-items: center;
    }

    .vector {
        display: none;
    }

    .subtasks {
        width: 100%;
        margin-bottom: var(--m50p);
    }

    .btn-container {
        width: 60%;
        margin-bottom: var(--m25p);
    }

    .row {
        input {
            width: 100%;
        }

        select {
            width: 100%;
        }
    }

    .textaria {
        width: 100%;
    }

    .assigned {
        width: 100%;
    }

    .mb-alert {
        display: flex;
        margin-left: 55px;
        animation: move-up 1.2s forwards;
    }
}

@media(max-width: 420px) {
    .create {
        width: 90%;
    }

    .btn-container {
        width: 90%;
        flex-direction: column;
        margin-bottom: 110px;
    }

    .create-task-btn {
        margin-top: var(--m10);
        margin-left: 0;
    }

    .mb-alert {
        margin-left: 58px;
    }
}

@media(max-width: 300px) {
    .priority {
        flex-direction: column;
    }

    .btn-container {
        width: 95%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: var(--m50p);
    }

    .create-task-btn {
        margin-top: var(--m5p);
        margin-left: 0;
    }

    .mb-alert {
        margin-bottom: 75px;
        margin-left: 14px;
    }
}

//ANIMATION

@keyframes move-up {
    from {
        transform: translateY(200px);
    }

    to {
        transform: translateY(0);
    }
}