.contact-list {
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    top: 80px;
    bottom: 0;
    width: 20%;
    border-top: 1px solid var(--white);
    overflow-y: scroll;

    @media (max-width:1080px) {
        width: 25%;
    }
}

.list-header {
    width: 90%;
    margin-top: var(--m10p);
}


.letter {
    margin-left: var(--m5p);
    color: var(--dark-navy);
}

.horizontal-line {
    margin-top: var(--m10p);
    margin-bottom: var(--m10p);
    width: 100%;
    border: 1px solid var(--light-grey);
    border-radius: 8px;
}

//CONTACT

.contact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: 50px;
    padding: 8px;

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}

.contact-info {
    overflow-x: scroll;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: var(--m10);
}

.mail {
    color: blue;
}

.bg-pic {
    min-height: 40px;
    min-width: 40px;
    border-radius: 50%;
    border: 2px solid white;
    color: var(--dark-navy);
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        font-size: 16px;
        font-weight: bold;
    }
}

.active-user {
    background-color: var(--dark-navy);
    padding: 16px;
    border-radius: 12px;
    color: white;

    .bg-pic {
        span {
            color: white;
        }
    }

    .contact-info {
        .mail {
            color: aqua;
        }
    }
}

@media(max-width: 1080px) {}

@media(max-width: 760px) {}

@media(max-width: 420px) {}

@media(max-width: 300px) {}