<p>contact-list works!</p>
<div class="contact-list">
    <!--RENDER CONTACT LIST HERE-->
    <span class="first-child">A</span>
    <div class="horizontal-line"></div>
    <div class="contact">
        <div class="bg-pic">
            <span></span>
        </div>
        <div class="contact-info">
            <span>Ayleen Mark</span>
            <span class="mail">am@hotmail.com</span>
        </div>
    </div>
    <span class="first-child">B</span>
    <div class="horizontal-line"></div>
    <div class="contact">
        <div class="bg-pic">
            <span></span>
        </div>
        <div class="contact-info">
            <span>Benni Bauer</span>
            <span class="mail">bb@hotmail.com</span>
        </div>
    </div>
    <span class="first-child">M</span>
    <div class="horizontal-line"></div>
    <div class="contact">
        <div class="bg-pic">
            <span></span>
        </div>
        <div class="contact-info">
            <span>Marleen Baur</span>
            <span class="mail">br@hotmail.com</span>
        </div>
    </div>
</div>