
<div class="contact-list" >
    <!--RENDER CONTACT LIST HERE-->
    <span class="first-child">A</span>
    <div class="horizontal-line"></div>
    



    <div class="contact" *ngFor="let contact of allContacts$ | async">
        <div class="bg-pic"  [ngStyle]="{'background-color': contact.color}">
            <span>{{ contact.firstName.charAt(0) }} {{ contact.lastName.charAt(0) }}</span>
        </div>
        <div class="contact-info">
            <span>{{ contact.firstName }} {{ contact.lastName }}</span>
            <span class="mail">{{ contact.email }}</span>
        </div>
    </div>

    

</div>