<div class="contact-list">
    <!--RENDER CONTACT LIST HERE-->
    <div *ngFor=" let initial of dataService.initialsFirstNames" class="list-header">

        <span class="letter">{{ initial }}</span>
        <div class="horizontal-line"></div>



    </div>

    <div class="contact" *ngFor="let contact of dataService.allContacts; index as i"
        [routerLink]="['/kanbanboard/contacts/edit-user/' + contact.customIdName]" routerLinkActive="active-user">


        <div class="bg-pic" [ngStyle]="{'background-color': contact.color}">
            <span>{{ contact.firstName.charAt(0) }}{{ contact.lastName.charAt(0) }}</span>
        </div>
        <div class="contact-info">
            <span>{{ contact.firstName }} {{ contact.lastName }}</span>
            <span class="mail">{{ contact.email }}</span>
        </div>


    </div>



</div>