<div class="task">
    <img src="./assets/img/icons/close.png" class="close-btn" (click)="closeDialog()">
    <div class="category">
        <p class="task-category" [ngClass]="data.getCategoryColor(task.category)">{{ task.category }}</p>
    </div>
    <div class="task-content">
        <p class="title">{{ task.title }}</p>
        <p class="description">{{ task.description }}</p>
    </div>
    <div class="due-date">
        <p>Due Date:</p>
        <span>{{ task.dueDate }}</span>
    </div>
    <div class="priority">
        <p>Priority:</p>
        <div class="urgency-btn">
            <img src="./assets/img/icons/{{ task.priority }}.png">
        </div>
    </div>
    <div class="sub-progress" *ngIf="task.subtasks.length > 0">
        <p class="sub-task-header">Subtasks:</p>
        <mat-progress-bar class="sub-progress-bar" mode="determinate" value="60"></mat-progress-bar>
        <p>3/{{ task.subtasks.length }} Done</p>
    </div>
    <div class="subtasks" *ngIf="task.subtasks.length > 0">
        <div class="subtask" *ngFor="let sub of task.subtasks">
            <input type="checkbox" (click)="handleCheck()" [(ngModel)]="checkedSubTasks">{{ sub }}
        </div>
    </div>
    <!--EDIT ASSIGNED TO VARIABLES FROM JSON-->
    <span class="assigned-to">Assigned To:</span>
    <div class="assigned-contacts">
        <div class="assigned-contact" *ngFor="let contact of task.assignedTo">
            <div class="circle" [ngStyle]="{'background-color': contact.color}">
                {{ contact.firstName?.charAt(0)}}
                {{ contact.lastName?.charAt(0)}}
            </div>
            <div class="name">
                {{ contact.firstName }}
                {{ contact.lastName }}
            </div>
        </div>
    </div>

    <div class="btn-container">
        <img class="edit-btn" src="./assets/img/icons/edit_white.png" (click)="editTask()">
        <img class="delete-btn" src="./assets/img/icons/trash_white.png" (click)="deleteTask(taskId)">
    </div>
</div>