<div class="task">
    <img src="./assets/img/icons/close.png" class="close-btn" (click)="closeDialog()">
    <div class="category">
        <p class="task-category">{{ task.category }}</p>
    </div>
    <div class="task-content">
        <p class="title">{{ task.title }}</p>
        <p class="description">{{ task.description }}</p>
    </div>
    <div class="due-date">
        <p>Due Date:</p>
        <span>{{ task.dueDate }}</span>
    </div>
    <div class="priority">
        <p>Priority:</p>
        <div class="urgency-btn">
            <img src="./assets/img/icons/{{ task.priority }}.png">
        </div>
    </div>
    <!--EDIT ASSIGNED TO VARIABLES FROM JSON-->
    <span class="assigned-to">Assigned To:</span>
    <div class="assigned-contact" *ngFor="let contact of task.assignedTo">
        <div class="circle" [ngStyle]="{'background-color': contact.color}">
            {{ contact.firstName?.charAt(0)}}
            {{ contact.lastName?.charAt(0)}}
        </div>
        <div class="name">
            {{ contact.firstName }}
            {{ contact.lastName }}
        </div>
    </div>
  
    <div class="btn-container">
        <img class="edit-btn" src="./assets/img/icons/edit_white.png" (click)="editTask()">
    </div>
    <div class="delete-container">
        <img class="delete-btn" src="./assets/img/icons/trash_white.png" (click)="data.deleteTask(task, taskId)">
    </div>
</div>