::ng-deep .mat-dialog-container {
    border-radius: 10px !important;
}

::ng-deep .cdk-overlay-pane {
    width: 50% !important;
}

.task {
    height: fit-content;
}

.task-category {
    padding: 8px;
    background-color: var(--dark-navy);
    color: var(--white);
    border-radius: 10px;
    width: fit-content;
}

.title {
    margin-top: var(--m5p);
    margin-bottom: var(--m5p);
    font-weight: 400;
    font-size: var(--fs-hl);
}

.description {
    margin-bottom: var(--m5p);
}

.due-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--m5p);
    width: 50%;

    p {
        font-weight: bold;
    }
}

.priority {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--m5p);
    width: 50%;

    p {
        font-weight: bold;
    }
}

.urgency-btn {
    // border: 1px solid black;
    border-radius: 10px;
    padding: 6px;
}

.assigned-to {
    font-weight: bold;

}

.assignedTo {
    margin-top: var(--m5p);
    display: flex;
    flex-direction: column;
}

.assigned-contact {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 8px;
}



.close-btn{
    position: relative;
    left: 97%;

    &:hover{
        cursor: pointer;
    }
}

.edit-btn{
    position: relative;
    left: 90%;

    &:hover{
        cursor: pointer;
        transform: scale(1.05);
    }
}

@media(max-width: 1080px) {}

@media(max-width: 760px) {}

@media(max-width: 420px) {}

@media(max-width: 300px) {}