.contact-list {
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    top: 80px;
    bottom: 0;
    left: 175px;
    width: 300px;
    border-top: 1px solid var(--white);
    overflow-y: scroll;
}

.new-contact {
    width: 250px;
    position: fixed;
    top: 80px;
    display: none;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
}

.new-contact-btn {
    margin: 16px;
    display: flex;
    align-items: center;
    padding: var(--m10) var(--m20);
    background-color: var(--dark-navy);
    color: var(--white);
    border: none;
    border-radius: var(--m10);
    font-weight: 500;

    img {
        height: 20px;
        margin-left: var(--m5);
    }

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}

.list-header {
    width: 90%;
    margin-top: var(--m10p);
}

.letter {
    margin-left: var(--m5p);
    color: var(--dark-navy);

    :first-child {
        margin-top: 200px;
    }
}

.horizontal-line {
    margin-top: var(--m10p);
    margin-bottom: var(--m10p);
    width: 100%;
    border: 1px solid var(--light-grey);
    border-radius: 8px;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 88%;
    height: 50px;
    padding: 8px;

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}

.contact-info {
    overflow-x: scroll;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: var(--m10);
}

.mail {
    color: blue;
}

.bg-pic {
    min-height: 40px;
    min-width: 40px;
    border-radius: 50%;
    border: 2px solid white;
    color: var(--dark-navy);
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        font-size: 16px;
        font-weight: bold;
    }
}

.active-user {
    background-color: var(--dark-navy);
    padding: 16px;
    border-radius: 12px;
    color: white;

    .bg-pic {
        span {
            color: white;
        }
    }

    .contact-info {
        .mail {
            color: aqua;
        }
    }
}

@media(max-width: 1080px) {
    .contact-list {
        left: 0;
        bottom: 100px;
    }

    .horizontal-line {
        margin-top: var(--m5p);
        margin-bottom: var(--m5p);
    }
}

@media(max-width: 760px) {
    .contact-list {
        top: 140px;
        right: 0px;
        width: 100%;
        bottom: 140px !important;
        overflow-y: scroll;
    }

    .new-contact {
        width: 100%;
        display: flex;
    }

    .new-contact-btn {
        font-size: var(--fs-sm);

        &:hover {
            transform: none;
        }
    }
}

@media(max-width: 420px) {}

@media(max-width: 300px) {}