<div class="content">
    <div class="close"></div>
    <div class="contact">
        <div class="left">
            <img src="./assets/img/Capa 2.png" class="logo">
            <span class="title">Add contact</span>
            <p>Tasks are better with a team!</p>
            <div class="stroke"></div>
        </div>





        <div class="mid">
            <div class="circle">
                <img src="./assets/img/icons/person_empty.png">
            </div>
        </div>
        <div class="right">
            <!-- <img src="./assets/img/icons/close.png" class="" (click)="closeDialog()"> -->
            <form class="name" [formGroup]="contactForm">
                <div class="input-container">
                    <input type="text" id="firstName" formControlName="firstName" [placeholder]="'First name'">
                    <mat-icon class="mat-icon">person_outline</mat-icon>
                </div>
                <div class="input-container">
                    <input type="text" id="lastName" formControlName="lastName" [placeholder]="'Last name'">
                    <mat-icon class="mat-icon">person_outline</mat-icon>
                </div>
                <div class="input-container">
                    <input type="text" id="mail" formControlName="email" [placeholder]="'E-mail'">
                    <mat-icon class="mat-icon">mail_outline</mat-icon>
                </div>
                <div class="input-container">
                    <input type="text" id="phone" formControlName="phone" [placeholder]="'Phone number'">
                    <mat-icon class="mat-icon">phone</mat-icon>
                </div>
            </form>
            <div class="btn-container">
                <button class="cancel-btn" (click)="clearValues()">
                    Cancel
                    <img src="./assets/img/icons/x.png">
                </button>
                <button class="add-btn" (click)="checkForm()">
                    Add Contact
                    <img src="./assets/img/icons/create.png">
                </button>
            </div>
        </div>
    </div>
</div>