/*GLOBALS*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', "Helvetica Neue", sans-serif;
    font-style: normal;

    font-size: var(--fs-m);
}

//CLASSES
.d-none {
    display: none;
}

.width100 {
    width: 100% !important;
}

.pos100 {
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0 !important;
}

//HEADERS
h1 {
    color: var(--dark-navy) !important;
    font-size: var(--fs-hl) !important;
    font-weight: 700 !important;
    margin-top: var(--m5p) !important;
    margin-left: var(--m5p) !important;
}

h2 {
    color: var(--dark-navy) !important;
    font-size: var(--fs-l) !important;
    margin-top: var(--m20) !important;
    margin-left: var(--m5p) !important;
}

h4 {
    color: var(--dark-navy) !important;
    font-size: var(--fs-l) !important;
    margin-left: var(--m5p) !important;
    margin-top: var(--m20) !important;
}

h5 {
    color: var(--dark-navy) !important;
    font-size: var(--fs-m) !important;
    margin-bottom: 3px !important;
}

h6 {
    color: var(--dark-navy) !important;
    font-size: var(--fs-l) !important;
}

//FONT ROOT
:root {
    --fs-s: 10px;
    --fs-sm: 13px;
    --fs-m: 18px;
    --fs-l: 24px;
    --fs-xl: 30px;
    --fs-hl: 42px;
}

//MARGIN ROOT
:root {
    --m5: 5px;
    --m5p: 5%;
    --m10: 10px;
    --m10p: 10%;
    --m20: 20px;
    --m20p: 20%;
    --m25: 25px;
    --m25p: 25%;
    --m50: 50px;
    --m50p: 50%;
}

//COLOR ROOT
:root {
    --dark-navy: rgb(42, 54, 71);
    --menu-active: rgb(9, 25, 49);
    --light-grey: rgb(205, 205, 205);
    --white: rgb(246, 247, 248);
    --secondary: rgb(41, 171, 226);


    //CONTACTCOLORSERVICE
    --yellow: rgb(212, 255, 0);
    --orange: rgb(255, 191, 0);
    --red: rgb(255, 0, 0);
    --blue: rgb(0, 64, 255);
    --green: rgb(0, 255, 17);
    --purple: rgb(200, 0, 255);
    --grey: rgb(129, 129, 125);

}