.contact-content {
    position: fixed;
    right: 0;
    top: 80px;
    bottom: 0;
    left: 475px;
    background-color: var(--white);
    overflow-y: scroll;
}

.headline {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    p {
        margin-left: 5px;
        margin-top: 6%;
        font-size: 18px;
        font-weight: 100;
    }
}

.stroke {
    margin-left: 5px;
    margin-top: 70px;
    color: var(--secondary);
    font-size: 50px;
}

.add-new-contact-btn {
    position: fixed;
    bottom: var(--m10p);
    right: var(--m10p);
    display: flex;
    align-items: center;
    padding: var(--m10) var(--m20);
    background-color: var(--dark-navy);
    color: var(--white);
    border: none;
    border-radius: var(--m10);

    img {
        height: 20px;
        margin-left: var(--m5);
    }

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}

.contact-created-btn {
    position: absolute;
    left: 200px;
    bottom: 97px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--m10) var(--m20);
    width: 326px;
    border: none;
    border-radius: var(--m10);
    background-color: var(--dark-navy);
    color: var(--white);
}

@media(max-width: 1080px) {
    .contact-content {
        position: fixed;
        right: 0;
        top: 80px;
        bottom: 0;
        left: 300px;
        background-color: var(--white);
        overflow-y: scroll;
    }

    .headline {
        flex-direction: column;
        height: 100px !important;
        align-items: flex-start;
        margin-left: var(--m5p);

        h1 {
            margin-left: 0 !important;
        }

        p {
            margin-top: 5px;
            color: var(--secondary);
        }
    }

    .stroke {
        display: none;
    }

    .add-new-contact-btn {
        bottom: var(--m20p);
    }
}

@media(max-width: 760px) {
    .add-new-contact-btn {
        display: none;
    }

}

@media(max-width: 420px) {}

@media(max-width: 300px) {}




//ANIMATION

.move-up {
    animation: move-up 1.2s forwards;
}

@keyframes move-up {
    from {
        transform: translateY(200px);
    }

    to {
        transform: translateY(0);
    }
}