<div class="wrapper"> 
    <img src="/assets/img/logo/logo1.png" class="logo">
    <div class="sign-up-container">
        <p>Not a Join user?</p>
        <button class="sign-up-btn" routerLink="/sign-up">Sign up</button>
    </div>
    <div class="form-container">
        <p>Log in</p>
        <div class="blue-line"></div>
        <form [formGroup]="authService.loginForm" class="reg-form" ngNativeValidate>
            <mat-form-field class="input-field" appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput type="email">
                <mat-icon class="mail-icon" matSuffix>mail_outline</mat-icon>
            </mat-form-field>
            <mat-form-field class="input-field" appearance="outline">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput type="password">
                <mat-icon class="pw-icon" matSuffix>remove_red_eye</mat-icon>
            </mat-form-field>
            <div class="forgot-pw-container">
                <a (click)="alert()">Forgot my password</a>
            </div>
            <div class="btn-container">
                <button mat-raised-button class="login-btn" (click)="authService.loginUser()">Login</button>
                <button mat-raised-button class="guest-login-btn" routerLink="/kanbanboard">Guest Log in</button>
            </div>
        </form>
    </div>
</div>