::ng-deep .mat-dialog-container {
    width: 350px;
    border-radius: var(--m10);
    position: relative;
}


.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    span {
        text-align: center;
        font-weight: bold;
        font-size: var(--fs-hl);
        color: var(--dark-navy);
    }
}

.blue-line {
    width: var(--m20p);
    border-bottom: 3px solid var(--secondary);
    border-radius: 12px;
    margin-top: var(--m5p);
    margin-bottom: var(--m10p);
}

.login-btn {
    margin-top: var(--m10p);
    width: 50%;
    height: 51px;
    background-color: var(--dark-navy);
    border: none;
    padding: 8px;
    border-radius: 8px;
    color: white;
    font-weight: bold;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: 125ms ease-in-out;
    }
}

.pos-r {
    position: relative;
}

.icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: var(--dark-navy);

    &:hover {
        transform: scale(1.05);
        transition: 125ms ease-in-out;
    }
}

@media(max-width: 1080px) {}

@media(max-width: 760px) {}

@media(max-width: 420px) {}

@media(max-width: 300px) {}